@model AudioStreamApp.ViewModels.MediaList
@{
    ViewBag.Title = "Home Page";
}

<br />
<div class="btn-group">
    @foreach (var letter in Model.Letters)
    {
        <button type="button" class="btn btn-default" onclick="event.preventDefault();getArtists('@letter');">@letter</button>
        if (letter == '9')
        {
            <br /><br />
        }
    }
    <br />
    <br />
    <br />
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <table id="artists" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Artists</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table id="albums" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Albums</th>
                        <th>Artist</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table id="songs" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Songs</th>
                        <th>Album</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="aPlayer">
                <audio controls="controls">
                    <source src="~/Audio/01%20Heat%20Of%20The%20Moment.mp3" type="audio/mpeg" />
                </audio>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script language="javascript">
        var artistTable;
        var albumTable;
        var songsTable;

        var emptyArtistData = [
            {
                "name": " - "
            }
        ];

        var emptyAlbumData = [
            {
                "albumName": " - ",
                "artistName": " - "
            }
        ];

        var emptySongData = [
            {
                "name": " - ",
                "album": " - "
            }
        ];

        $(document).ready(function () {
            artistTable = $("#artists").DataTable({
                select: true,
                searching: false,
                ordering: false,
                lengthChange: false,
                info: false,
                data: emptyArtistData,
                columns: [
                    {
                        data: "name"
                    }
                ]
            });

            albumTable = $("#albums").DataTable({
                select: true,
                searching: false,
                ordering: false,
                lengthChange: false,
                info: false,
                data: emptyAlbumData,
                columns: [
                    {
                        data: 'albumName'
                    },
                    { data: 'artistName' }
                ]
            });

            songsTable = $("#songs").DataTable({
                select: true,
                searching: false,
                ordering: false,
                lengthChange: false,
                info: false,
                data: emptySongData,
                columns: [
                    { data: 'name' },
                    { data: 'album' }
                ]
            });

            artistTable.on('select',
                function (e, dt, type, indexes) {
                    if (type === 'row') {
                        var artist = artistTable.rows(indexes).data().pluck('name');
                        getAlbums(artist[0]);
                    }
                });

            albumTable.on('select',
                function (e, dt, type, indexes) {
                    if (type === 'row') {
                        var artist = albumTable.rows(indexes).data().pluck('artistName');
                        var album = albumTable.rows(indexes).data().pluck('albumName');

                        getSongs(artist[0], album[0]);
                    }
                });
        });


        function getArtists(letter) {
            $.get("/audiostreamapp/api/filesystem/getartists",
                {
                    letter: letter
                },
                function (data) {
                    artistTable.clear();
                    artistTable.rows.add(data);
                    artistTable.draw();
                });
        }

        function getAlbums(artist) {
            $.get("/audiostreamapp/api/filesystem/getalbums",
                {
                    artist: artist
                },
                function (data) {
                    albumTable.clear();
                    albumTable.rows.add(data);
                    albumTable.draw();
                });
        }

        function getSongs(artist, album) {
            $.get("/audiostreamapp/api/filesystem/getsongs",
                {
                    albumName: album,
                    artistName: artist
                },
                function (data) {
                    songsTable.clear();
                    songsTable.rows.add(data);
                    songsTable.draw();
                });
        }
    </script>
}

