@model AudioStreamApp.ViewModels.MediaList
@{
    ViewBag.Title = "Home Page";
}

@foreach (var letter in Model.Letters)
{
    <a href="#" onclick="event.preventDefault();getArtists('@letter');">@letter</a>
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <table id="artists" class="table table-striped table-condensed">
                <thead>
                <tr>
                    <th>Artists</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table id="albums" class="table table-striped table-condensed">
                <thead>
                <tr>
                    <th>Albums</th>
                    <th>Artist</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                </tr>
                </tbody>
            </table>            
        </div>
        <div class="col-md-4">
            <table id="songs" class="table table-striped table-condensed">
                <thead>
                <tr>
                    <th>Songs</th>
                    <th>Album</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="aPlayer">
                <audio controls="controls">
                    <source src="~/Audio/01%20Heat%20Of%20The%20Moment.mp3" type="audio/mpeg" />
                </audio>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script language="javascript">
        var artistTable;
        var albumTable;
        var songsTable;

        var emptyAlbumData = [
            {
                "albumName": " - ",
                "artistName": " - "
            }
        ];

        var emptySongData = [
            {
                "songName": " - ",
                "albumName": " - "
            }
        ];

        $(document).ready(function() {
            artistTable = $("#artists").DataTable({
                "ajax": {
                    "url": "/audiostreamapp/api/filesystem/getartists",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function(data) {
                            return "<a href=\"#\" onclick=\"event.preventDefault();getAlbums('" + data + "');\">" + data + "</a>";
                        }
                    }
                ]

            });
            albumTable = $("#albums").DataTable({
                data: emptyAlbumData,
                columns: [
                    {
                        data: 'albumName',
                        render: function(data) {
                            if (data === " - ") {
                                return data;
                            }

                            return "<a href=\"#\" onclick=\"event.preventDefault();getSongs('" + data + "');\">" + data + "</a>";
                        }
                    },
                    { data: 'artistName' }
                ]
            });
            songsTable = $("#songs").DataTable({
                data: emptySongData,
                columns: [
                    { data: 'songName' },
                    { data: 'albumName' }
                ]
            });
        });

        function getArtists(letter) {
            $.get("/audiostreamapp/api/filesystem/getartists",
                {
                     letter: letter
                },
                function (data) {
                    artistTable.clear();
                    artistTable.rows.add(data);
                    artistTable.draw();
                });
        }

        function getAlbums(artist) {
            $.get("/audiostreamapp/api/filesystem/getalbums",
                {
                    artist: artist
                },
                function (data) {
                    albumTable.clear();
                    albumTable.rows.add(data);
                    albumTable.draw();
                });
        }

        function getSongs(album) {
            alert(album); return;
            $.get("/audiostreamapp/api/filesystem/getsongs",
                {
                    album: album
                },
                function (data) {
                    songsTable.clear();
                    songsTable.rows.add(data);
                    songsTable.draw();
                });
        }
    </script>
}

