@model AudioStreamApp.ViewModels.MediaList
@{
    ViewBag.Title = "Main Player";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <audio id="audio" controls="controls">
                <source id="audioSource" src="" type="audio/mp3"/>
            </audio>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="btn-group">
                @foreach (var letter in Model.Letters)
                {
                    <button type="button" class="btn btn-default" onclick="event.preventDefault();getArtists('@letter');">@letter</button>
                    if (letter == '9')
                    {
                        <br/><br/>
                    }
                }
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Playlist</div>
                <div class="panel-body">
                    <ul class="list-group">
                        @foreach (var song in MvcApplication.PlayList)
                        {
                            <li class="list-group-item">@song</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <table id="artists" class="table table-bordered">
                <thead>
                <tr>
                    <th>Artists</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table id="albums" class="table table-bordered">
                <thead>
                <tr>
                    <th>Albums</th>
                    <th>Artist</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table id="songs" class="table table-bordered">
                <thead>
                <tr>
                    <th>Songs</th>
                    <th>Album</th>
                    <th>path</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


@section scripts{
    <script language="javascript">
        var artistTable;
        var albumTable;
        var songsTable;

        var emptyArtistData = [
            {
                "name": " - "
            }
        ];

        var emptyAlbumData = [
            {
                "albumName": " - ",
                "artistName": " - "
            }
        ];

        var emptySongData = [
            {
                "title": " - ",
                "album": " - ",
                "fullName" : " - "
            }
        ];

        $(document).ready(function () {
            artistTable = $("#artists").DataTable({
                select: true,
                searching: false,
                ordering: false,
                lengthChange: false,
                info: false,
                data: emptyArtistData,
                columns: [
                    {
                        data: "name"
                    }
                ]
            });

            albumTable = $("#albums").DataTable({
                select: true,
                searching: false,
                ordering: false,
                lengthChange: false,
                info: false,
                data: emptyAlbumData,
                columns: [
                    {
                        data: 'albumName'
                    },
                    { data: 'artistName' }
                ]
            });

            songsTable = $("#songs").DataTable({
                select: true,
                searching: false,
                ordering: false,
                lengthChange: false,
                info: false,
                data: emptySongData,
                columns: [
                    { data: 'title' },
                    { data: 'album' },
                    {
                        data: 'fullName',
                        visible: false
                    }
                ]
            });

            artistTable.on('select',
                function (e, dt, type, indexes) {
                    if (type === 'row') {
                        var artist = artistTable.rows(indexes).data().pluck('name');
                        getAlbums(artist[0]);
                    }
                });

            albumTable.on('select',
                function (e, dt, type, indexes) {
                    if (type === 'row') {
                        var artist = albumTable.rows(indexes).data().pluck('artistName');
                        var album = albumTable.rows(indexes).data().pluck('albumName');

                        getSongs(artist[0], album[0]);
                    }
                });

            songsTable.on('select',
                function (e, dt, type, indexes) {
                    if (type === 'row') {
                        var sourceUrl = songsTable.rows(indexes).data();

                        var audio = $("#audio").get(0);
                        var source = $("#audioSource");

                        audio.pause();
                        source[0].src = "../mp3/" + sourceUrl[0].artist + "/" + sourceUrl[0].album + "/" + sourceUrl[0].name;
                        audio.load();
                        
                        audio.play();
                    }
                });
        });

        function getArtists(letter) {
            $.get("/audiostreamapp/api/filesystem/getartists",
                {
                    letter: letter
                },
                function (data) {
                    artistTable.clear();
                    artistTable.rows.add(data);
                    artistTable.draw();
                });
        }

        function getAlbums(artist) {
            $.get("/audiostreamapp/api/filesystem/getalbums",
                {
                    artist: artist
                },
                function (data) {
                    albumTable.clear();
                    albumTable.rows.add(data);
                    albumTable.draw();
                });
        }

        function getSongs(artist, album) {
            $.get("/audiostreamapp/api/filesystem/getsongs",
                {
                    albumName: album,
                    artistName: artist
                },
                function (data) {
                    songsTable.clear();
                    songsTable.rows.add(data);
                    songsTable.draw();
                });
        }
    </script>
}

